/* :root[data-theme='light'] {
.sl-link-button {
    color: black !important;
} 
}  */

:root[data-theme='light'] {
    .background_white {
        background-color: white;
    }
}

:root[data-theme='dark'] {
    .background_white {
        background-color: wheat;
    }
}